.container-about {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 150px;
}

.container-about h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 20px 0px;
}

.container-about span {
  font-size: 1.5rem;
  color: #ffc411;
}

.container-about p {
  font-size: 1.5rem;
}

.container-about h2 {
  font-size: 2rem;
}

.container-about ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container-about li {
  font-size: 1.5rem;
  margin-top: 20px;
}
