footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1210px;
    max-width: 100%;
    padding: 20px 20px;
    background-color: #1c1e22;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
footer .footer-links h2{
    text-align: center;
    color: #ffc411;
}

footer nav ul{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

footer nav ul li a:hover{
    color: #ffc411;
    span {
      color: #ffc411;
    } 
}






 